# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( './data/mondial_database.xml' )

In [6]:
root = document.getroot()

# 1. 10 Countries with the lowest infant mortality rates

http://stackoverflow.com/questions/15568126/how-can-i-check-the-existence-of-attributes-and-tags-in-xml-before-parsing

In [7]:
countryName = []
infantMor = []
for child in document.getroot():
    name = child.find('name')
    IMor = child.find('infant_mortality')
    if IMor is None:
        continue
    countryName.append(name.text)
    infantMor.append(IMor.text)

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame({'Country':countryName,'InfantMortalityRate':infantMor})

In [10]:
df[['InfantMortalityRate']] = df[['InfantMortalityRate']].apply(pd.to_numeric)

In [11]:
df.sort_values('InfantMortalityRate',ascending=True).head(10)

            Country  InfantMortalityRate
36           Monaco                 1.81
90            Japan                 2.13
109         Bermuda                 2.48
34           Norway                 2.48
98        Singapore                 2.53
35           Sweden                 2.60
8    Czech Republic                 2.63
72        Hong Kong                 2.73
73            Macao                 3.13
39          Iceland                 3.15

# 2. 10 cities with the largest population

In [12]:
CityName=[]
PopulationLate=[]
popFool=[]
popFool2=[]
for element in document.iterfind('country'):
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string = subelement.find('name') #+ ' '#+ subelement.findall('population').text #+ ', '
        CityName.append(capitals_string.text)
        #print capitals_string.text
        for population in subelement.iter('population'):
            if population.attrib is None:
                continue
            popFool.append(population.attrib)
            if population.text is None:
                continue
            popFool2.append(population.text)
        #print popFool2[-1]
        PopulationLate.append(popFool2[-1])

In [13]:
df2 = pd.DataFrame({'City':CityName,'Popn':PopulationLate})

In [14]:
df2[['Popn']] = df2[['Popn']].apply(pd.to_numeric)

In [15]:
df2.sort_values('Popn',ascending=False).head(10)

           City      Popn
1341   Shanghai  22315474
771    Istanbul  13710512
1527     Mumbai  12442373
479      Moskva  11979529
1340    Beijing  11716620
2810  São Paulo  11152344
1342    Tianjin  11090314
1064  Guangzhou  11071424
1582      Delhi  11034555
1067   Shenzhen  10358381

# 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [98]:
countryName = []
AttribLate=[]
popFool=[]
popFool2=[]
PopulationLate = []
AttribLate2=[]
EthFool=[]
EthFool2=[]
EthnicFirst = []

for child in document.getroot():
    name = child.find('name')
    for population in child.findall('population'):
        if population.attrib is None:
            continue
        popFool.append(population.attrib)
        if population.text is None:
            continue
        popFool2.append(population.text)
    #print name.text
    for ethnic in child.findall('ethnicgroup'):
        #print ethnic.text
        if ethnic.attrib is None:
            continue
        EthFool.append(ethnic.attrib)
        #print ethnic.attrib
        if ethnic.text is None:
            continue
        EthFool2.append(ethnic.text)
    if child.find('ethnicgroup') is None:
            continue
    countryName.append(name.text)
    AttribLate.append(popFool[-1])
    PopulationLate.append(popFool2[-1])
    AttribLate2.append(EthFool[0])
    EthnicFirst.append(EthFool2[0])
    EthFool=[]
    EthFool2=[]
#print AttribLate2
#print EthnicFirst

In [99]:
len(AttribLate)

197

In [100]:
len(AttribLate2)

197

In [179]:
PerValue=[]
for k in AttribLate2:
    for l in k.values():
        PerValue.append(l)

In [180]:
len(PerValue)

197

In [181]:
len(PopulationLate)

197

In [182]:
len(EthnicFirst)

197

In [183]:
len(countryName)

197

In [184]:
df3= pd.DataFrame({'Country':countryName,'Popn':PopulationLate,'Ethnicity':EthnicFirst,'Percentage':PerValue})

In [185]:
df3.head()

      Country    Ethnicity Percentage      Popn
0     Albania     Albanian         95   2800138
1      Greece        Greek         93  10816286
2   Macedonia   Macedonian       64.2   2059794
3      Serbia         Serb       82.9   7120666
4  Montenegro  Montenegrin         43    620029

In [194]:
df3[['Popn']] = df3[['Popn']].apply(pd.to_numeric)
df3[['Percentage']] = df3[['Percentage']].apply(pd.to_numeric)

In [195]:
df3['EthnicPopn']=df3.Percentage*df3.Popn

In [196]:
df3.sort_values(['EthnicPopn'], ascending=[False]).head(10)

               Country    Ethnicity  Percentage     Popn   EthnicPopn
109            Grenada      African       100.0  1611013  161101300.0
154              Libya  Berber Arab        97.0  1289556  125086932.0
125               Guam     Chamorro        37.1  3198645  118669729.5
30             Estonia     Estonian        68.7  1639121  112607612.7
147               Peru   Amerindian        45.0  1761738   79278210.0
139  Wallis and Futuna   Polynesian       100.0   792054   79205400.0
78               Syria         Arab        90.3   698042   63033192.6
8              Austria     Austrian        91.1   664046   60494590.6
167           Botswana     Batswana        95.0   585890   55659550.0
28             Romania     Romanian        89.1   514967   45883559.7

# 4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

## 4. a) longest river

In [328]:
CountryRiver=[]
NameRiver=[]
LengthRiver=[]

for river in root.getiterator('river'):
    #print river.attrib['country']
    if river.find('length') is None:
        continue
    CountryRiver.append(river.attrib['country']) 
    for length in river.findall('length'):
        LengthRiver.append(length.text) 
    for name in river.findall('name'):
        #print name.text
        NameRiver.append(name.text)

In [329]:
len(CountryRiver)

233

In [330]:
len(LengthRiver)

233

In [331]:
len(NameRiver)

233

In [332]:
df4= pd.DataFrame({'Country':CountryRiver,'River Name':NameRiver,'Length':LengthRiver})

In [333]:
df4[['Length']] = df4[['Length']].apply(pd.to_numeric)

In [334]:
df4.sort_values(['Length'], ascending=[False]).head(10)

             Country  Length River Name
174         CO BR PE  6448.0   Amazonas
137               CN  6380.0    Jangtse
136               CN  4845.0    Hwangho
123                R  4400.0       Lena
201          RCB ZRE  4374.0      Zaire
138  CN LAO THA K VN  4350.0     Mekong
115         R KAZ CN  4248.0    Irtysch
186    RMM RN WAN RG  4184.0      Niger
160              USA  4130.0   Missouri
119                R  4092.0   Jenissej

## 4 b) Largest Lake

In [335]:
CountryLake=[]
NameLake=[]
AreaLake=[]

for lake in root.getiterator('lake'):
    #print river.attrib['country']
    if lake.find('area') is None:
        continue
    #print lake.attrib['country']
    CountryLake.append(lake.attrib['country']) 
    for area in lake.findall('area'):
        AreaLake.append(area.text) 
    for name in lake.findall('name'):
        #print name.text
        NameLake.append(name.text)

In [336]:
len(CountryLake)

139

In [337]:
len(NameLake)

139

In [338]:
len(AreaLake)

139

In [339]:
df5= pd.DataFrame({'Country':CountryLake,'Lake Name':NameLake,'Area':AreaLake})

In [340]:
df5[['Area']] = df5[['Area']].apply(pd.to_numeric)

In [341]:
df5.sort_values(['Area'], ascending=[False]).head(10)

         Area         Country        Lake Name
54   386400.0  R AZ KAZ IR TM      Caspian Sea
107   82103.0         CDN USA    Lake Superior
79    68870.0     EAT EAK EAU    Lake Victoria
104   59600.0         CDN USA       Lake Huron
106   57800.0             USA    Lake Michigan
47    41650.0     IL JOR WEST         Dead Sea
81    32893.0    ZRE Z BI EAT  Lake Tanganjika
96    31792.0             CDN  Great Bear Lake
43    31492.0               R     Ozero Baikal
87    29600.0      MW MOC EAT      Lake Malawi

## 4.c. airport at highest elevation

In [342]:
CountryElevate=[]
AirElevate=[]
NameElevate=[]
for airport in root.getiterator('airport'):
    CountryElevate.append(airport.attrib['country']) 
    for elevation in airport.findall('elevation'):
        #print elevation.text
        AirElevate.append(elevation.text) 
    for name in airport.findall('name'):
        #print name.text
        NameElevate.append(name.text)

In [343]:
len(CountryElevate)

1315

In [344]:
len(AirElevate)

1315

In [345]:
len(NameElevate)

1315

In [346]:
df6= pd.DataFrame({'Country':CountryElevate,'Airport Name':NameElevate,'Elevation':AirElevate})

In [347]:
df6[['Elevation']] = df6[['Elevation']].apply(pd.to_numeric)
df6.sort_values(['Elevation'],ascending=[False]).head(10)

                                          Airport Name Country  Elevation
80                                        El Alto Intl     BOL     4063.0
219                                      Lhasa-Gonggar      CN     4005.0
241                                       Yushu Batang      CN     3963.0
813                                            Juliaca      PE     3827.0
815             Teniente Alejandro Velasco Astete Intl      PE     3311.0
82                            Juana Azurduy De Padilla     BOL     2905.0
334                                Mariscal Sucre Intl      EC     2813.0
805                Coronel Fap Alfredo Mendivil Duarte      PE     2719.0
807  Mayor General FAP Armando Revoredo Iglesias Ai...      PE     2677.0
692                Licenciado Adolfo Lopez Mateos Intl     MEX     2581.0